<div class="container-fluid">
    <div class="center-block">
        <p class="text-justify">
            Rashmi nursing home started in 1987 and has from that time been having a steadily growing number of patients. we primarily treat ophthalmology, ent, gynaecology, maternity and general surgery. we also run a fully equipped physiotherapy unit.
            we are a specialized center for advanced minimally invasive surgeries such as laparoscopy, hysteroscopy and cataract surgeries
        </p>
    </div>
</div>