<div>
	<ul class="list-group">
  <li class="list-group-item list-group-item-success">All the information in this section has been provided by:<br/>Dr Sanjay J Rao [Consultant Paediatrician], <br/>Child Care Clinic , <br/>2013 100Ft Rd Indiranagar Bangalore 560008 Tel: 91 80 5767 8757/2526 7085</li>
  <ul>
  	<br/><br/>
	<p>
    Many new parents are unsure about how to give their baby a bath. Unsolicited advice from people around you can be nerve wracking. Follow these tips for making bath time easier for you and your baby. Bathing your baby offers a great opportunity for wonderful interaction between you and your child.</p>
 

<b>SAFETY TIPS TO REMEMBER AT ALL TIMES</b>
<ul>
<li>Babies can drown in less than an inch of water and in less than 60 seconds. Never leave your infant alone or walk away from your baby even for a moment</li>

<li>Make sure the temperature of the water is comfortable (slightly above room temperature)</li>

<li>Don’t put your baby in the tub while the water is still running. The temperature could change rapidly and make conditions unsafe.</li>

<li>Use only baby soaps and baby shampoos. Avoid bath oils and bubble baths.</li>

<li>Your baby does not need a bath in the tub until the umbilical cord has fallen off. A sponge bath in the first few days is good enough. If your baby has been circumcised, wait until the wound has healed</li>

<li>A portable bathtub is ideal for your baby until he has grown out of it.</li>

<li>Always hold your baby gently but firmly, avoiding sudden movements.</li>

<li>Make sure that you have everything that you may need before you start.</li>

    <br />
    <div style="position:absolute;right:5em">
        <a id="linktop" ng-click="goToTop('top')">TOP</a>
    </div>
</div>









 