<div>
<p>
Med Claim Solutions Ltd

If you have a identity card of any of the above companies [through insurance companies such as Oriental Ins Co, National Ins Co, New India Assurance Co, United India Ins Co etc] you are entitled to a cashless admission here. Please contact the staff for any clarifications.

Even if you have any MEDICLAIM policy which does not have a tie up with the above TPAs for cashless payment you are STILL ENTITLED for reimbursement for surgery performed at this hospital.

Please contact the staff and inform them of the details of your insurance policy on admission and we will do our best to assist you in your cashless claim/re-imbursement.

If you are availing of a cashless facility and your insurance company disallows some part of the bill you may be contacted to pay the balance as late as 6-12 months after your discharge. This is because we receive our settlements as late as 1-2 years at times.
</p>
</p>
</div>