<div class="container-fluid">
    <div class="row" style="background-color:#eee">
        <div class="col-lg-3">
            <h4><b>Dr Deepak Rao</b> &nbsp;MD DGO DNB DICOG FCPS</h4> 
            <h5>Obstetrician, Gynaecologist & Laparoscopic Surgeon</h5>
            <p>
                Mon-Fri: 11am-12noon  & 6pm-7:30pm;<br/>
                Sat: 10am-12noon
            </p>
        </div>
        <div class="col-lg-3">
            <h4><b>Dr Shalini Rao</b> &nbsp; MS DORL DNB FCPS</h4>
            <h5>ENT Surgeon & Otologist</h5>
            <p>
                Mon-Sat: 11am-12 noon;<br />
                Mon, Wed, Fri: 5:30-7:30pm
            </p>
        </div>
        <div class="col-lg-3">
            <h4><b>Dr Rashmi Rao</b> &nbsp; BSc(PT) PGCR</h4>
            <h5>Physiotherapist</h5>
            <p>Mon-Sat: 10am-12 noon</p>
        </div>
        <div class="col-lg-3">
            <h4><b>Dr Srinivas Rao</b> &nbsp; MS DOMS MAMS DNB MORCE</h4>
            <h5>Ophthalmologist</h5>
            <p>Mon-Sat: 4pm-7pm</p>
        </div>
    </div>
</div>