<div>
    <h1><b>What are the sinuses and what do they do?</b></h1>
    <b>What are sinuses?</b>
    <p>
        The sinuses are hollow cavities within the bones of the skull. They lie adjacent to the nasal cavity and are therefore anatomically named the "paranasal" sinuses. Four sets of sinuses lie on each side of the nasal cavity: frontal, ethmoid, maxillary, and sphenoid sinuses. The frontal sinuses occupy the bone over the eyes in the forehead while the maxillary sinuses are under the eyes in the cheekbones.
        The ethmoid sinuses are actually a collection of sinuses, like a honeycomb, which lie between the eyes. The sphenoid sinuses are placed behind the nasal cavity and eyes, near the center of the head.
        The paranasal sinuses are similar to rooms lying off a main hallway, the nasal cavity. Air flows up and down this hallway as we breathe in and out through our noses. A special "wallpaper" lines the nasal "hallway" and each sinus "room."
        This lining is the mucosa, which swells and thickens with irritation or inflammation. The sinuses are connected to the hallway through very narrow openings, sometimes only one or two millimeters wide. When the "wallpaper" lining these narrow openings swells, it can block the openings and result in a sinus infection
    </p>
    <img src="images/sinuses.JPG" />
    
    <b>What is the purpose of sinuses?</b>
    <p>
        The simple answer to this question is that no one knows for certain. Many theories have been proposed, all of which may be correct.

        By creating air-filled chambers within the skull bones, the sinuses may serve to decrease the weight of the head. They also add resonance to the voice; when they are blocked up we sound like we are talking through our noses. In a more practical sense, the sinuses form a sort of "crumple zone" that protects the eyes and brain in case of a severe injury to the face.
        Sinuses also help warm and humidify the air that passes through the nose
    </p>
    <br />
    <div style="position:absolute;right:5em">
        <a id="linktop" ng-click="goToTop('top')">TOP</a>
    </div>
</div>

