<div class="row">
    <div class="col-lg-4">
        <h2>General Facilities</h2>
        <p class="text-justify">
        	<li class="text-justify">25 inpatient beds</li>
         	<li class="text-justify">Air-conditioned rooms with televisions, attached bathrooms and separate attendants couch/bed</li>
			<li class="text-justify">UPS power backup for each OT individually</li>
			<li class="text-justify">Generator backup for the entire premises</li>
			<li class="text-justify">Wireless broadband internet access</li>
			<li class="text-justify">Physiotherapy</li>
			<li class="text-justify">3 well equipped operation theatres, one dedicated for ophthalmology, one dedicated for 			endoscopy and microsurgery</li>
			<li class="text-justify">HEPA air filtration with UV light units and activated carbon filters in main operation 			theaters to reduce dust and infections</li>
			<li class="text-justify">Central oxygen supply system with individual outlets in each room</li>
		</p>
    </div>
    <div class="col-lg-4">
        <h2>Diagnostic and monitoring facilities</h2>
        <p class="text-justify">
        	<li class="text-justify">Laboratory facilities</li>
			<li class="text-justify">Eye scanning - ocular ultrasound facilities</li>
			<li class="text-justify">Multiparameter and single parameter patient monitoring units for intra operative as well as post operative monitoring to increase safety</li>
			<li class="text-justify">High resolution Ultrasonography including transvaginal ultrasound facilities</li>
			<li class="text-justify">Air-conditioned labour room with continuous electronic fetal monitoring facilities</li>
		</p>
    </div>
    <div class="col-lg-4">
        <h2>Specialized surgical facilities</h2>
        <p class="text-justify">
        	<li class="text-justify">Phacoemulsification machine</li>
			<li class="text-justify">Two operating microscopes including one Carl Zeiss microscope</li>
			<li class="text-justify">Full endoscopic surgery facilities</li>
			<li class="text-justify">Complete hysteroscopy and laparoscopy equipment with top of the line Karl Storz endoscopes, 	orcellator, xenon light sources and high flow insufflation units</li>
			<li class="text-justify">Multiparameter and single parameter patient monitoring units for intra operative as well as 	post operative monitoring to increase safety</li>
			<li class="text-justify">Anaesthesia ventilator for smoother and safer anaesthesia</li>
			<li class="text-justify">ET CO2 monitor for safety during laparoscopic and other general anaesthesia surgeries</li>
			<li class="text-justify">Ultracision Harmonic Ace - the latest endosurgical operating equipment which uses ultrasonic 	 energy to coagulate [stop bleeding] and cut tissues at the time of laparoscopy</li>
			<li class="text-justify">Ligasure vessel sealing system</li>
			<li class="text-justify">3 CCD High Definition endoscopy camera with Xenon light source and HD dual monitor system. The dual monitor system makes it easy for the surgeon, assistant as well as staff and anaesthetist to view the surgery from any location in the operation theater which increases comfort and safety during surgery</li>
			<li class="text-justify">Remote controlled electro hydraulic C-Arm compatible operation table for complete operators comfort</li>
			<li class="text-justify">Incubator and phototherapy facilities</li>
			<li class="text-justify">Micro drills for ENT surgery</li>
		</p>
    </div>
</div>