<div>
    <b>What are fibroids?</b>

	<p>Uterine fibroids are non-cancerous [usually] tumors that develop within or attach to the wall of the uterus, a female reproductive organ also called the "womb" which is designed to hold a pregnancy.</p>

<b>What causes a fibroid?</b>

<p>Uterine fibroids are the most common pelvic tumor.

The cause of uterine fibroid tumors is unknown. Oral contraceptives and pregnancy lower the risk of developing new fibroid tumors.

Fibroids may be present in 15 - 20% of women in their reproductive years -- the time after starting menstruation for the first time and before menopause. Fibroids may affect 30 - 40% of women over age 30. The growth of a fibroid seems to depend on the hormone estrogen. As long as a woman with fibroids is menstruating, the fibroids will probably continue to grow, usually slowly.

Fibroids rarely affect females younger than 20 or who are postmenopausal [those who have reached an age where their periods have stopped]

Fibroids begin as small seedlings that spread throughout the muscular walls of the uterus. They can be so tiny that you need a microscope to see them. However, they can also grow very big. They may fill the entire uterus, and may weigh several kilograms. Although it is possible for just one fibroid to develop, usually there is more than one.<p>
    <br />
    <div style="position:absolute;right:5em">
        <a id="linktop" ng-click="goToTop('top')">TOP</a>
    </div>
</div>









