<div>
    <b>WHAT IS CATARACT SURGERY?</b>

<p>In conventional cataract surgery, the opaque lens is simply removed. Hence, the barrier to entry of light is gone, however, the patient cannot see as the eye has lost its focusing power. Focusing now has to be done using thick glasses.<p>

<b>POINTS TO NOTE REGARDING CATARACTS</b>
<ul>
<li>Although cataracts usually occur in the elderly, they are also seen in babies and children and sometimes after an injury.</li>
<li>There is NO proven medication which will prevent or cure a cataract. Hence surgery is the ONLY cure.</li>
<li> There is no need to wait for the cataract to ripen for surgery. It may be removed as soon as the vision falls below a level acceptable to the patient's lifestyle. In fact, if the patient waits too long, the lens may swell and raise the pressure in the eye. This causes a lot of damage to the eye and then, even after the operation, vision may be poor.</li>
</ul>

Also, the modern method of phacoemulsification is easier and safer with early soft cataracts rather than with late hard cataracts as this technique involves breaking up of the cataract.

Therefore, do not postpone cataract surgery too long. </br></br>

<p><b>WHAT IS MODERN CATARACT SURGERY?</b></br>

this refers to a method of surgery (mistakenly called "laser surgery") in which the cataract is broken u by an ultrasonically vibrating tip and sucked out through an extremely small (keyhole) micro-puncture. Because of the small size of the puncture -

  - No stitches are needed

  - No hospitalization is required

  - Visual results are better

  - Recovery is faster with quicker return to normal activity

Phacoemulsification is easier and safer before the cataract becomes very advanced, and hence, early surgery, as soon as visual loss becomes unacceptable, is advisable.</p>
    <br />
    <div style="position:absolute;right:5em">
        <a id="linktop" ng-click="goToTop('top')">TOP</a>
    </div>
</div>











